.portfolio{
  height: auto;
  width: 100%;
  /* background-color: #eff7ff; */
  background-color: #f1f2ff;
  margin-top: -40px;
  padding-bottom: 50px;
}

h1{
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
}

.port-img{
  height: 200px;
  width: 350px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.port img:hover{
  transform: translateY(-5px);
}

.port{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  text-align: center;
  padding-left: 110px;
}

h3{
  font-weight: bold;
}

.layer{
  text-align: center;
}

.layer button{
  gap: 20px;
}

.port1{
  height: auto;
  padding: 10px;
  width: 350px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.portButt button{
  
  width: 130px;
  height: auto;
  background-color: rgb(171, 168, 255);
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.portButt button:hover{
  background-color: rgb(108, 99, 255);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .port {
    margin-top: 0;
  justify-content: center;
    gap: 2rem;
    padding: 0;
    margin-left: 20px;
    height: auto;
    
    grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  }

  
}


@media screen and (min-width: 768px) and (max-width: 1024px){
  .port {
    margin-top: 0;
  justify-content: center;
    gap: 2rem;
    padding: 0;
    padding-left: 0px;
    height: auto;
    
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  }

  
}


