h1{
    color: rgb(108, 99, 255);
}

.github{
    /* margin-top: -35px; */
    /* background-color: #eff7ff; */
    background-color: #f1f2ff;
    
    padding-bottom: 50px;

}
#statis{
    display: flex;
    justify-content: center;
}
#statis>img{
    
    height: 350px;
    width: 600px;
    
    margin-top: 20px;
}
/* #image1{
    width: 600px;
} */

@media screen and (min-width: 320px){
    #image1{
        width: 400px;
    }
  }
    
    


