.n-wrapper {
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  background-color: #ced2ff;
  padding: 10px;
  width: 100%;
}
.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name>img {
  height: 60px;
  width: 50px;
}
.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.n-list > ul :hover {
  color: rgb(108, 99, 255);
  cursor: pointer;
}

.n-button {
  flex: 2;
}

.buttonCont{
  margin-right: 20px;
}

@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
}


