.Intro {
  display: flex;
  height: auto;
  margin-top: 60px;
  padding: 50px;
  padding-top: 100px;
  background-color: #f1f2ff;
  
}

/* left side styling */
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: 14px;
  color: var(--gray);
  margin-top: 10px;
}
.i-button {
  width: 6rem;
  height: 2rem;
  
}
.buttonCont{
  background-color: rgb(171, 168, 255);
  padding: 10px;
  width: 100px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  
}
.buttonCont:hover{
  background-color: rgb(108, 99, 255);
}

.i-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}
.i-icons > * {
  transform: scale(0.5);
}
.i-icons > *:hover {
  cursor: pointer;
}
/* right side styling */
.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
}
.i-right > :nth-child(2) {
  top: -4.6rem;
  transform: scale(0.67);
  left: -3rem;
}
.i-right > :nth-child(3) {
  transform: scale(1.4);
  left: 28%;
}
.i-right > :nth-child(4) {
  transform: scale(0.62);
  top: -19%;
  left: -24%;
  border-radius: 50%;
  padding: 0;
}

/* blur */
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}

#myPhoto{
  height: 550px;
  width: 450px;
  margin-left: 180px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.myEmoje{
  height: 180px;
  width: 200px;
}

.i-icons img{
   height: 150px;
}

@media screen and (max-width: 480px) {
  .Intro {
    flex-direction: column;
    gap: 7rem;
    height: 64rem;
    justify-content: center;
    margin-top: 20px;
  }

  .i-right {
    transform: scale(0.8);
    left: -3rem;
  }
  .i-right .blur {
    display: none;
  }
  .i-right {
    display: block;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-right: 10px;
    border-radius: 70px;
    
    text-align: center;
    
  }
  #myPhoto{
    margin-left: 10%;
    width: 400px;
    
    
  }
}


@media screen and (max-width: 768px) {
  .Intro {
    flex-direction: column;
    gap: 2rem;
    height: 64rem;
    justify-content: center;
  }

  .i-right {
    transform: scale(0.8);
    left: 0rem;
  }
  .i-right .blur {
    display: none;
  }
  .i-right {
    display: block;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-right: 200px;
    border-radius: 70px;
    
    text-align: center;
    
  }
  #myPhoto{
    margin-left: 50px;
    width: 400px;
    
    
  }
}





